#
# SPDX-FileCopyrightText: 2022 George Florea Bănuș <georgefb899@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0
#

[Desktop Entry]
Name=Kagura - thumbnailer
Exec=kagura %U
Icon=kagura
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
MimeType=video/x-matroska;video/mp4;video/webm;video/avi;
Terminal=false
StartupWMClass=kagura
